body {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 0 2em 0
}

.card {
  float: left;
  border: 1px solid #dedede;
  border-radius: 5px;
  margin: 15px;
  min-height: 220px;
}

.card-title {
  text-align: center;
  min-height: 32px;
  padding: 10px 0;
  margin-top: 10px;
}

.pagination a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color:#4CAF50;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
  }

  .pagination li {
    float: left;
    border: 1px solid #dedede;
    list-style-type: none;
    
  }

  .pagination span {
    display: block;
    padding: 5px 10px;
  }

  #pager {
    clear: both;  
    padding: 0.5em 0 1em 0;
  }

  h5 {
      margin: 0;
  }



